# OS
.DS_Store

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.eclipse.*

# Python
.venv/
*.pyc
__pycache__/

# Node
node_modules/

# Build artifacts
bin/
build/
obj/
vendor/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate*
*.tfvars

# Kubernetes generated manifests
.kubernetes-manifests-*/

# Skaffold
.skaffold-*.yaml

# Logs
*.log
*~

# Docker temp
Dockerfile.pip